# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environments
.venv/
venv/
venv.bak/

# Environment variables
.env

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# IDEs 
.vscode/
